* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #fff;
}

#main-navigation {
    height: 48px;
    width: 100%;
    background: rgb(28, 29, 37);
    text-align: center;
}

.sub-navigation {
    height: 48px;
    width: 100%;
    background: #007161;
    text-align: center;
}

.sub-navigation.hidden {
    display: none;
}

#main-navigation a, .sub-navigation a {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    margin: 0 16px;
    text-decoration: none;
    transition: 0.1s ease color;
}

#main-navigation a:hover {
    color: #007161;
}

.sub-navigation a:hover {
    color: #0e3e22;
}

#main-navigation span, .sub-navigation span {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#main-navigation .selected {
    color: #007161;
}

.sub-navigation .selected {
    color: #0e3e22;
}
