* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

body {
    background: #fff;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
}

#main-navigation {
    height: 48px;
    width: 100%;
    background: rgb(28, 29, 37);
    text-align: center;
}

.sub-navigation {
    height: 48px;
    width: 100%;
    background: #007161;
    text-align: center;
}

.sub-navigation.hidden {
    display: none;
}

#main-navigation a, .sub-navigation a {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    margin: 0 16px;
    text-decoration: none;
    transition: 0.1s ease color;
}

#main-navigation a:hover {
    color: #007161;
}

.sub-navigation a:hover {
    color: #0e3e22;
}

#main-navigation span, .sub-navigation span {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#main-navigation .selected {
    color: #007161;
}

.sub-navigation .selected {
    color: #0e3e22;
}

#background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: -32px;
    right: -1000px;
    height: 256px;
    background: rgb(0, 134, 117);
}

#background h1 {
    color: #2a2a2a;
    margin-top: 72px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 236px;
    user-select: none;
    -webkit-user-select: none;
}

#container {
    width: 100%;
    background: #fff;
    margin: 256px 0 0;
}

#content {
    max-width: 700px;
    margin: 0 auto;
    padding: 32px 0;

    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

#content p {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 32px;
}

#content > :last-child {
    margin-bottom: 4px;
}

#content a {
    color: #1e88e5;
    text-decoration: none;
    transition: 0.25s color ease;
}

#content a:hover {
    color: #0d47a1;
}

#content ul {
    margin-top: -12px;
    margin-left: 32px;
    margin-bottom: 32px;
}

#content li {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 8px;
}

#content li:last-of-type {
    margin-bottom: 20px;
}

#footer {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 42px;
}

#footer p {
    text-align: center;
}

#footer a {
    color: #999;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.25s ease;
}

#footer a:hover {
    color: #666;
}
