* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

body {
    background: #fff;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
}

#main-navigation {
    height: 48px;
    width: 100%;
    background: rgb(28, 29, 37);
    text-align: center;
}

.sub-navigation {
    height: 48px;
    width: 100%;
    background: #007161;
    text-align: center;
}

.sub-navigation.hidden {
    display: none;
}

#main-navigation a, .sub-navigation a {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    margin: 0 16px;
    text-decoration: none;
    transition: 0.1s ease color;
}

#main-navigation a:hover {
    color: #007161;
}

.sub-navigation a:hover {
    color: #0e3e22;
}

#main-navigation span, .sub-navigation span {
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#main-navigation .selected {
    color: #007161;
}

.sub-navigation .selected {
    color: #0e3e22;
}

#background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: -32px;
    right: -1000px;
    height: 384px;
    background: rgb(0, 134, 117);
}

#background h1 {
    color: #2a2a2a;
    margin-top: 72px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 236px;
    user-select: none;
    -webkit-user-select: none;
}

#container {
    width: 100%;
    background: #fff;
    margin: 256px 0 0;
}

#content {
    max-width: 700px;
    margin: 0 auto;
    padding: 32px;

    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

#content p {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 32px;
}

#content p + p {
    margin-top: -8px;
}

#content > :last-child {
    margin-bottom: 4px;
}

#content a {
    color: #1e88e5;
    text-decoration: none;
    transition: 0.25s color ease;
}

#content a:hover {
    color: #0d47a1;
}

#content ul {
    margin-top: -12px;
    margin-left: 32px;
    margin-bottom: 32px;
}

#content li {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 8px;
}

#content li:last-of-type {
    margin-bottom: 20px;
}

#content img {
    max-width: 100%;
    margin-bottom: 32px;
}

#content .code {
    display: block;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 17px;
    margin-bottom: 24px;
    margin-top: -8px;
    padding: 12px;
    border-radius: 4px;
    background: #333;
    color: #fff;
}

form input, form textarea, form button {
    background: none;
    color: #333;
    display: block;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.25s ease;
}

form input, form textarea {
    width: calc(100% / 2);
    border: 2px #333 solid;
    padding: 12px;
    margin: 0 auto;
}

form input:focus, form textarea:focus {
    outline: none;
    border: 2px #333 solid;
}

form button {
    font-weight: 500;
    border: 2px #333 solid;
    padding: 12px 24px;
    margin: 0 auto;
    cursor: pointer;
}

form button:hover {
    background: #333;
    color: #fff;
    font-weight: 600;
}

#contact input, #contact textarea {
    margin-bottom: 24px;
}

#rstudio {
    display: block;
    text-align: center;
}

#rstudio input {
    display: inline-block;
    width: calc(100% / 3);
}

#rstudio button {
    display: inline-block;
    margin-left: 8px;
}

#footer {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 42px;
}

#footer p {
    text-align: center;
}

#footer a {
    color: #999;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.25s ease;
}

#footer a:hover {
    color: #666;
}

@media only screen and (min-width: 961px) {
    #mobile-navigation, #mobile-navigation-exit {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    #main-navigation, .sub-navigation, #background {
        display: none;
    }

    #navigation {
        height: auto;
        position: static;
    }

    #mobile-navigation {
        background: rgb(0, 134, 117);
        padding: 48px 0;
    }

    #mobile-navigation a {
        color: #fff;
        display: block;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 32px;
        font-weight: bold;
        margin: 0 16px;
        text-decoration: none;
        transition: 0.1s ease color;
    }

    #mobile-navigation .selected {
        color: #0e3e22;
        font-size: 56px;
    }

    #mobile-navigation-exit {
        color: #fff;
        position: absolute;
        right: 28px;
        text-decoration: none;
        top: 28px;
    }

    #container {
        margin: 0;
    }
}
