* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(28, 29, 37);
    position: fixed;
    overflow-y: scroll;
}

#content {
    opacity: 0;
    width: 100%;
    height: 100%;
    animation: fadein 0.75s ease-out;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #007161;
    animation: loader 0.35s ease;
    animation-delay: 0.65s;
    animation-fill-mode: forwards;
}

@keyframes loader {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

#shapes {
    width: 100%;
    height: 100%;
}

#shapes use {
    fill: none;
}

#shapes .turquoise {
    stroke: #1abc9c;
}

#shapes .green {
    stroke: #2ecc71;
}

#shapes .blue {
    stroke: #3498db;
}

#shapes .purple {
    stroke: #9b59b6;
}

#shapes .yellow {
    stroke: #f1c40f;
}

#shapes .orange {
    stroke: #e67e22;
}

#shapes .red {
    stroke: #e74c3c;
}

#menu {
    position: absolute;
    top: 56px;
    left: 72px;
}

#menu .item {
    position: relative;
    width: 500px;
}

#menu .item a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 72px;
    text-decoration: none;
}

#menu .item > a {
    color: #ffffff;
    transition: color 0.25s ease;
}

#menu .item:hover > a {
    color: #333;
}

#menu .item .sub {
    left: 64px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: left 0.25s ease, opacity 0.25s ease;
}

#menu .item:hover .sub {
    left: 80px;
    opacity: 1;
}

#menu .item .sub * {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    margin-left: 8px;
    line-height: 72px;
}

#menu .item .sub a {
    transition: color 0.1s ease;
}

#menu .item .sub a:hover {
    color: #007161;
}

#logo {
    position: absolute;
    top: 72px;
    right: 72px;
    width: 112px;
    height: 112px;
}
