* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(28, 29, 37);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: fixed;
}

#content {
    width: 100%;
    height: 100%;
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #007161;
}

#shapes {
    width: 100%;
    height: 100%;
}

#shapes use {
    fill: none;
}

#shapes .turquoise {
    stroke: #1abc9c;
}

#shapes .green {
    stroke: #2ecc71;
}

#shapes .blue {
    stroke: #3498db;
}

#shapes .purple {
    stroke: #9b59b6;
}

#shapes .yellow {
    stroke: #f1c40f;
}

#shapes .orange {
    stroke: #e67e22;
}

#shapes .red {
    stroke: #e74c3c;
}

#menu {
    position: absolute;
    top: 56px;
    left: 72px;
}

#menu .item {
    position: inline-block;
}

#menu .item a {
    font-size: 64px;
    font-weight: bold;
    line-height: 82px;
    text-decoration: none;
}

#menu .item > a {
    color: #ffffff;
    transition: color 0.25s ease;
}

#menu .item:hover > a {
    color: #333;
}

#menu .item .sub {
    margin-top: -82px;
    margin-left: 64px;
    opacity: 0;
    position: inline-block;
    transition: margin-left 0.25s ease, opacity 0.25s ease;
}

#menu .item:hover .sub {
    margin-left: 80px;
    opacity: 1;
}

#menu .item .sub * {
    color: #fff;
    display: inline-block;
    font-size: 28px;
    margin-left: 8px;
}

#menu .item .sub a {
    transition: color 0.1s ease;
}

#menu .item .sub a:hover {
    color: #007161;
}

#logo {
    position: absolute;
    top: 72px;
    right: 72px;
    width: 112px;
    height: 112px;
}

#join {
    position: absolute;
    bottom: 72px;
    left: 72px;
}

#join p {
    color: #fff;
    display: table;
    font-size: 12px;
    line-height: 16px;
    width: 295px;
    margin-bottom: 10px;
}

#join input, #join button {
    display: inline-block;
}

#join input {
    background: #007161;
    border: none;
    border-radius: 6px 0 0 6px;
    color: #fff;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
    width: 226px;
}

#join input:focus {
    outline: none;
}

#join input::placeholder {
    color: #e9e9e9;
}

#join button {
    background: #fff;
    border: none;
    border-radius: 0 6px 6px 0;
    color: #007161;
    cursor: pointer;
    line-height: 36px;
    font-size: 13px;
    font-weight: 600;
    margin-left: -4px;
    padding: 0 12px;
    vertical-align: top;
    transition: all 0.25s ease;
    width: 69px;
}

#join button:hover {
    background: #333;
    color: #fff;
}

#name {
    position: absolute;
    bottom: 72px;
    right: 72px;
}

#name h2 {
    font-size: 36px;
    text-align: right;
}

#name a {
    color: #fff;
    text-decoration: none;
    transition: color 0.25s ease;
}

#name a:hover {
    color: #333;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loader {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@media screen and (min-width: 961px) {
    #content {
        opacity: 0;
        animation: fadein 0.75s ease-out;
        animation-delay: 1.25s;
        animation-fill-mode: forwards;
    }

    #loader {
        left: 0;
        animation: loader 0.35s ease;
        animation-delay: 0.65s;
        animation-fill-mode: forwards;
    }
}

@media screen and (max-width: 960px) {
    #menu {
        top: 36px;
        left: 48px;
    }

    #menu .item a {
        font-size: 42px;
        line-height: 56px;
    }

    #menu .item .sub {
        display: none;
    }

    #join {
        left: 48px;
        bottom: 48px;
        width: calc(100% - 96px);
    }

    #join input {
        box-sizing: border-box;
        width: calc(100% - 70px);
    }

    #join button {
        transition: none;
    }

    #join button:hover {
        background: #fff;
        color: #007161;
    }

    #logo, #name {
        display: none;
    }
}
