---
# Homepage
---
<!DOCTYPE html>
<html>
<head>
    <title>Bronx Science Hackers</title>
    <link rel="stylesheet" href="{{ "css/style.css" | absolute_url }}" type="text/css" />
</head>
<body>
    <div id="loader"></div>
    <div id="content">
        <div id="shapes">
            {% include shapes.html %}
        </div>
        <div id="menu">
            {% for item in site.data.navigation %}
            {% if item.name != "Home" %}
            <div class="item">
                <a href="{{ item.path | absolute_url }}">{{ item.name }}</a>
                {% capture num_pages %}{{ item.pages | size }}{% endcapture %}
                {% assign num_pages = num_pages | plus: 0 %} <!-- convert to integer -->
                {% if num_pages > 0 %}
                <div class="sub">
                {% for sub_item in item.pages %}
                    <a href="{{ sub_item.path | absolute_url }}">{{ sub_item.name }}</a>
                    {% if forloop.index < forloop.length %}
                    <span>//</span>
                    {% endif %}
                {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <img id="logo" src="{{ "img/bxscience.svg" | absolute_url }}" />
    </div>
    <script src="{{ "js/shapes.js" | absolute_url }}" type="text/javascript"></script>
    <script src="{{ "js/links.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
