<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "css/page.css" | absolute_url }}" type="text/css" />
</head>
<body>
    <div id="main-navigation">
        <div class="container">
            {% for item in site.data.navigation %}
            {% capture main_tab %}{{ item.name | downcase }}{% endcapture %}
            <a href="{{ item.path | absolute_url }}"{% if page.maintab == main_tab %}class="selected"{% endif %}>{{ item.name }}</a>
            {% if forloop.index < forloop.length %}
            <span>//</span>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="sub-navigation">
        {% for item in site.data.navigation %}
        {% capture main_tab %}{{ item.name | downcase }}{% endcapture %}
        {% if page.maintab == main_tab %}
        {% for sub_item in item.pages %}
        {% capture sub_tab %}{{ sub_item.name | downcase }}{% endcapture %}
        <a href="{{ sub_item.path | absolute_url }}"{% if page.subtab == sub_tab %}class="selected"{% endif %}>{{ sub_item.name }}</a>
        {% if forloop.index < forloop.length %}
        <span>//</span>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    {{ content }}
    <script src="{{ "js/links.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
