<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "css/page.css" | absolute_url }}" type="text/css" />
</head>
<body>
    <div id="main-navigation">
        <div class="container">
            <a href="{{ "index.html" | absolute_url }}">Home</a>
            <span>//</span>
            <a href="#" class="selected">About</a>
            <span>//</span>
            <a href="#">Resources</a>
            <span>//</span>
            <a href="#">Events</a>
        </div>
    </div>
    <div id="sub-navigation">
        <a href="#" class="selected">Team</a>
        <span>//</span>
        <a href="#">Contact</a>
    </div>
    {{ content }}
    <script src="{{ "js/links.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
