<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "css/page.css" | absolute_url }}" type="text/css" />
</head>
<body>
    <div id="main-navigation">
        <div class="container">
            <a href="{{ "/" | absolute_url }}">Home</a>
            <span>//</span>
            <a href="#"{% if page.maintab == "about" %}class="selected"{% endif %}>About</a>
            <span>//</span>
            <a href="#"{% if page.maintab == "resources" %}class="selected"{% endif %}>Resources</a>
            <span>//</span>
            <a href="#"{% if page.maintab == "events" %}class="selected"{% endif %}>Events</a>
        </div>
    </div>
    <div id="sub-navigation">
        {% if page.maintab == "about" %}
        <a href="{{ "/about/team" | absolute_url }}"{% if page.subtab == "team" %}class="selected"{% endif %}>Team</a>
        <span>//</span>
        <a href="#"{% if page.subtab == "contact" %}class="selected"{% endif %}>Contact</a>
        {% elsif page.maintab == "resources" %}
        <a href="#"{% if page.subtab == "web_design" %}class="selected"{% endif %}>Web Design</a>
        <a href="#"{% if page.subtab == "mobile_apps" %}class="selected"{% endif %}>Mobile Apps</a>
        {% elsif page.maintab == "events" %}
        <a href="#"{% if page.subtab == "atomhacks" %}class="selected"{% endif %}>AtomHacks</a>
        <a href="#"{% if page.subtab == "hackathons" %}class="selected"{% endif %}>Hackathons</a>
        <a href="#"{% if page.subtab == "trips" %}class="selected"{% endif %}>Trips</a>
        {% endif %}
    </div>
    {{ content }}
    <script src="{{ "js/links.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
